@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>

@Html.ActionLink(
    "ADD MOVIE", 
    "New", 
    "Movies", 
    null, 
    new { @class = "btn btn-primary" })


<table id="movies" class="table table-bordered table-hover m-2">
    <thead>
    <tr>
        <th>Movie</th>
        <th>Genre</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts
{
    <script>
    $(document).ready(function() {
        var table = $("#movies").DataTable({
            ajax: {
                url: "/api/movies",
                dataSrc: ""
            },
            columns: [
                {
                    data: "name",
                    render: function(data, type, movie) {
                        return `<a href="/movies/edit/${movie.id}">${data}</a>`;
                    }
                },
                {
                    data: "genre.name"
                },
                {
                    data: "id",
                    render: function(data) {
                        return `<button movie-data-id="${data}" class="btn btn-link js-delete">Delete</button>`;
                    }
                }
            ]
        });
        $("#movies").on("click",
            ".js-delete",
            async function() {
                if (await swal({ text: "Are you sure?", buttons: true })) {
                    var button = $(this);
                    $.ajax({
                        url: "/api/movies/" + $(button).attr("movie-data-id"),
                        method: "DELETE",
                        success: function() {
                            table.row(button.parents("tr")).remove().draw();
                        }
                    });
                }
            });
        });
</script>
}