@using Vidly.Controllers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>

@Html.ActionLink(
    "ADD CUSTOMER", 
    "New",
    "Customers",
    null,
    new{@class = "btn btn-primary"})

<table id="customers" class="table table-bordered table-hover mt-2">
    <thead>
    <tr>
        <th>Customer</th>
        <th>Membership Type</th>
        <th>Delete</th>
    </tr>
    <tbody>
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#customers").DataTable(
                {
                    ajax: {
                        url: "/api/customers",
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data: "name",
                            render: function(data, type, customer) {
                                return `<a href="/customers/edit/"${customer.id}">${customer.name}</a>`;
                            }
                        },
                        {
                            data: "membershipType.name"
                        },
                        {
                            data: "id",
                            render: function(data) {
                                return `<button data-customer-id="${data}" class="btn btn-link js-delete">Delete</button>`;
                            }
                        }
                    ]
                });
        $("#customers").on("click",
            ".js-delete",
            async function() {
                var button = $(this);
                if (await swal({ text: 'Are you sure?', buttons: true })) {
                    $.ajax({
                        url: "/api/customers/" + $(this).attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            table.row(button.parents("tr")).remove().draw();
                        }
                    });
                }
            });
        });
    </script>
}



